<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/DefaultLayout}">

<head>
    <title>GAN - Administrativo</title>
</head>
<section layout:fragment="css-extra">
    <!--Css extra-->
</section>
<section layout:fragment="page-header">
    <!--Page_header-->
</section>

<section layout:fragment="content">
    <!--Page content-->
</section>

<section layout:fragment="js-extra">
    <!--Js extra-->
</section>

</html>